$font-sans-serif: 'Open Sans', Helvetica, Arial, Sans-Serif;
$font-serif: 'Libre Baskerville', Georgia, Serif;
$font-headline: 'Archivo Black', Helvetica, Arial, Sans-Serif;

$page-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$color-text: #28394C;
$color-background: #EFEAE7;
$color-grey: #767676;
$color-orange: #F39A3C;
$color-link: #0f71ff;
