$font-sans-serif: 'Open Sans', Helvetica, Arial, Sans-Serif;
$font-serif: 'Libre Baskerville', Georgia, Serif;
$font-headline: 'Oswald', Helvetica, Arial, Sans-Serif;

$page-breakpoint: 1024px;
$mobile-breakpoint: 767px;

$color-text: #0a0a0a; //#28394C;
$color-background: #f9f7ee; //#EFEAE7;
$color-grey: #767676;
$color-orange: #F39A3C;
$color-link: #0f71ff;
